{% extends './layouts/layout.html'%}

{% block title %}Equipo{% endblock %}

{% block body %}

    <div class="h-[80vh] bg-gray-100 flex gap-4 p-4">
    <!-- Panel Izquierdo (Información del equipo y estadísticas) -->
    <div class="w-2/3 flex flex-col gap-4">
        <!-- Info del equipo -->
        <div class="bg-white rounded-xl shadow p-4 flex items-center gap-4">
        <img src="{{equipo_cabecera[1]}}" alt="Escudo equipo" class="w-20 h-20 object-contain" />
        <div>
            <h2 class="text-2xl font-bold">{{equipo_cabecera[0]}}<span><i class="far fa-star text-2xl"></i></span></h2>
            <p class="text-sm text-gray-600">Fundado en {{equipo_cabecera[2]}}</p>
        </div>
    </div>

    <!-- Estadísticas Generales (4 bloques) -->
        <div class="grid grid-cols-2 gap-4">
        <div class="bg-white rounded-xl flex justify-center items-center flex-col shadow p-4">
            <h3 class="font-bold text-2xl text-red-600 mb-2">General</h3>
            <ul class="text-sm space-y-1 w-full">
                <div class="flex items-center justify-between w-full">
                    <span class="font-bold text-lg ">Partidos jugados:</span> 
                    <span class="font-bold">{{equipo.fixtures.played.total}}</span>
                </div>
                <div class="flex items-center justify-between w-full">
                    <span class="font-bold text-lg">Victorias totales:</span> 
                    <span class="font-bold">{{equipo.fixtures.wins.total}}</span>
                </div>
                <div class="flex items-center justify-between w-full">
                    <span class="font-bold text-lg">Derrotas totales:</span>
                    <span class="font-bold">{{  equipo.fixtures.loses.total}}</span>
                </div>
            </ul>
        </div>
        <div class="bg-white rounded-xl flex justify-center items-center flex-col shadow p-4">
            <h3 class="font-bold text-2xl text-red-600 mb-2">Ataque</h3>
            <ul class="text-sm space-y-1 w-full">
                <div class="flex items-center justify-between w-full">
                    <span class="font-bold text-lg ">Goles totales:</span> 
                    <span class="font-bold">{{ equipo.goals.for.total.total }}</span>
                </div>
                <div class="flex items-center justify-between w-full">
                    <span class="font-bold text-lg">Promedio de goles por partido:</span> 
                    <span class="font-bold">{{ equipo.goals.for.average.total}}</span>
                </div>
                <div class="flex items-center justify-between w-full">
                    <span class="font-bold text-lg">Penaltis anotados:</span>
                    <span class="font-bold">{{ equipo.penalty.scored.total }}</span>
                </div>
            </ul>
        </div>
        <div class="bg-white rounded-xl flex justify-center items-center flex-col shadow p-4">
            <h3 class="font-bold text-2xl text-red-600 mb-2">Defensa</h3>
            <ul class="text-sm w-full space-y-1">
            <div class="flex items-center justify-between w-full">
                    <span class="font-bold text-lg ">Goles Encajados:</span> 
                    <span class="font-bold">{{ equipo.goals.against.total.total }}</span>
                </div>
                <div class="flex items-center justify-between w-full">
                    <span class="font-bold text-lg">Porterias a cero:</span> 
                    <span class="font-bold">{{ equipo.clean_sheet.total}}</span>
                </div>
                <div class="flex items-center justify-between w-full">
                    <span class="font-bold text-lg">Partidos sin marcar:</span>
                    <span class="font-bold">{{ equipo.failed_to_score.total }}</span>
                </div>
            </ul>
        </div>
        <div class="bg-white rounded-xl flex justify-center items-center flex-col shadow p-4">
            <h3 class="font-bold text-2xl text-red-600 mb-2">Disciplina</h3>
            <ul class="text-sm w-full space-y-1">
                <div class="flex items-center justify-between w-full">
                    <span class="font-bold text-lg">Tarjetas amarillas:</span> 
                    <span class="font-bold">{{ total_amarillas}}</span>
                </div>
                <div class="flex items-center justify-between w-full">
                    <span class="font-bold text-lg">Tarjetas rojas:</span>
                    <span class="font-bold">{{ total_rojas }}</span>
                </div>
                <div class="flex items-center justify-between w-full">
                    <span class="font-bold text-lg">promedio de amarillas:</span>
                    <span class="font-bold">{{ (total_amarillas / equipo.fixtures.played.total) | round(2) }}</span>
                </div>
            </ul>
        </div>
        </div>
    </div>


    <div class="w-1/3 bg-white rounded-xl shadow p-4 overflow-y-auto">
        <h3 class="text-red-600 font-bold mb-4 text-center">TABLA DE CLASIFICACIÓN</h3>
            <table class="w-full text-sm text-left">
                <thead>
                    <tr class="text-gray-600">
                        <th>Equipo</th>
                        <th class="text-center">Últimos 5</th>
                        <th class="text-right">PTOS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-t">
                        <td class="flex items-center gap-2 py-2">
                            <img src="/ruta/escudo.png" class="w-5 h-5" />
                            <span>FC Barcelona</span>
                        </td>
                        <td class="text-center text-green-500">✔✔✔✔✔</td>
                        <td class="text-right">82</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}