{% extends './layouts/layout.html' %}

{% block title %}Inicio{% endblock %}

{% block body %}
    <div 
        x-data="carousel()" 
        x-init="start()" 
        class="absolute inset-0 z-0">
        <template x-for="(image, index) in images" :key="index">
            <div 
                x-show="currentIndex === index" 
                class="absolute inset-0 transition-opacity duration-1000"
                :style="`background-image: url(${image});`"
                style="background-size: cover; background-position: center;">
            </div>
        </template>
        <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>
{% endblock %}